.logo {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #0A1B32;
    margin-top: 37px;
    margin-left: 80px;
}


.logo-dot {
    color: #A3DC00;
    font-size: 50px;
}

section {
    display: inline-block;
}

.main-title {
    max-width: 495px;
    width: 100%;
    margin-top: 203px;
    margin-left: 200px;
    font-family: 'Ramaraja', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 76px;
    letter-spacing: 0.02em;
    color: #1B0A42;
}

.main-info {
    max-width: 583px;
    width: 100%;
    margin-top: 10px;
    margin-left: 200px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #9A9A9A;
}

.main-btn {
    width: 152px;
    height: 64px;
    margin-top: 50px;
    margin-left: 200px;
    background-color: #A3DC00;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
}

img {
    max-width: 756px;
    width: 100%;
    margin-left: 10px;
}

section {
    display: inline-block;
}

a {
    margin-left: 40px;
    color: #A3DC00;
    font-size: 20px;
    text-decoration: none
}

a:hover {
    color: greenyellow;
    
  }

.sign-up {
    width: 152px;
    height: 64px;
    margin-top: 50px;
    margin-left: 10px;
    background-color: #A3DC00;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    padding: 15px 32px;
}
.sign-up:hover {
background-color:lightskyblue;

}


.sign-in {
    width: 152px;
    height: 64px;
    margin-top: 50px;
    margin-left: 650px;
    margin-bottom: 300px;
    border-radius: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #A3DC00;
    border: none;  
}

nav, li, h3 {
    display:inline-block;
}
